@font-face {
  font-family: wedgie;
  src: url(../assets/Wedgie.ttf);
}

@font-face {
  font-family: flaphead;
  src: url(../assets/Flaphead.ttf);
}

html,
body {
  width: 98%;
  height: 98%;
  box-sizing: border-box;
}

h1 {
  font-size: 70px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
  padding: 10px;
  font-family: wedgie;
  color: black;
}

span {
  font-size: 20px;
}

.scoremax {
  width: 59%;
  text-align: center;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.scores {
  float: left;
  width: 34%;
  text-align: left;
  font-family: flaphead;
}

.lose {
  float: left;
  width: 33%;
  font-family: flaphead;
  opacity: 0;
}

.maxes {
  float: left;
  width: 33%;
  text-align: right;
  font-family: flaphead;
}

.board {
  min-width: 600px;
  min-height: 300px;
  width: 60%;
  height: 60%;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 5px;
}

.board td {
  border: 3px solid black;
  border-radius: 5px;
}

#mainmenu > a {
  text-decoration: none;
}

#restart > a {
  text-decoration: none;
}

.one {
  display: inline;
}

.two {
  display: none;
}

.three {
  display: none;
}

button {
  font-size: 10px;
  text-align: center;
  background-color: white;
  color: #252525;
  border: 3px solid #252525;
  border-radius: 3px;
  font-family: flaphead;
  font-size: 15px;
  letter-spacing: 3px;
  padding: 5px 10px 5px 10px;
  margin-top: 5px;
  outline: 0;
}

#mutebtn {
  text-align: center;
}

#content3img {
  text-align: center;
  border: 3px solid black;
  width: 50%;
  max-height: 40%;
  max-width: 40%;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#htp {
  max-width: 100%;
  width: auto;
  height: auto;
}

#content3btns {
  text-align: left;
}

#idxbtns {
  text-align: center;
}

#howhead {
  font-size: 50px;
}

td {
  width:  40px;
  height: 40px;
}

input#un-mute,
.unmute {
    display: none;
}

input#un-mute:checked ~ .unmute {
    display: initial;
}

input#un-mute:checked ~ .mute {
    display: none;
}
