@font-face {
  font-family: wedgie;
  src: url(Wedgie.ttf);
}

html,
body {
  width: 98%;
  height: 98%;
  box-sizing: border-box;
  font-family: wedgie;
  text-align: center;
}

h1 {
  font-size: 70px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: wedgie;
  padding: 10px;
}

button {
  font-size: 10px;
}
